:root {
    --mdc-theme-primary: rgb(17, 17, 17);
    --mdc-theme-secondary: rgb(0, 122, 255);
    --mdc-theme-background: #fff;
    --mdc-theme-surface: #fff;
    --mdc-theme-error: #b00020;
    --mdc-theme-on-primary: #fff;
    --mdc-theme-on-secondary: #fff;
    --mdc-theme-on-surface: #000;
    --mdc-theme-on-error: #fff;

    --typography-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Calibri', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif
}

html, body {
    margin: 0px;
    height: 100%;

    font-family: var(--typography-font-family);
}

a, a:hover, a:visited {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

hr {
    border: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.body {
    flex-grow: 1.0;
    padding-top: 64px;
}

.body .content {
    margin: 15px;
}

.full-height {
    flex-grow: 1.0;
    min-height: 100%;
}

.flex {
    display: flex;
}

.inline-block {
    display: inline-block;
}

.align-text-center {
    text-align: center;
}

.align-text-left {
    text-align: left;
}

.align-text-right {
    text-align: right;
}

.align-text-justify {
    text-align: justify;
}

.align-content-center {
    justify-content: center;
    align-items: center; 
    display: flex;
}

.float-left {
    float: left
}

.float-right {
    float: right
}

.float-none {
    float: none
}

.divider-with-text {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgba(0, 0, 0, 0.2);
    margin: 8px 0px;
    font-size: 1.2rem;
}

.divider-with-text::before, .divider-with-text::after {
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.1);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 8px;
}

.hero {
    height: 100%;
    justify-content: center;
    align-items: center; 
    display: flex;
}

.hero .hero-image {
    width: 100%;
    margin: auto;
    
    position: relative;
}

.hero .hero-image .hero-text {
    text-align: center;
}

.hero .mdc-layout-grid {
    width: 100%;
}

.sign-in-with-apple {
    width: 256px;
    margin: 0px auto;
    margin-top: 15px;
}

.mdc-card.login-card {
    width: 100%;
    padding: 20px 30px;
    display: inline-block;
    margin: auto;
}

.mdc-card.signin-card {
    width: 450px;
    padding: 20px 30px;
    display: inline-block;
    margin: auto;
}

.login-head {
    margin-bottom: 5px;
    padding: 5px 0px;
}

.login-head .mdc-typography--headline4 {
    margin-bottom: 15px
}

.bag {
    width: 14px;
    height: 44px;

    background-image: url('../images/bag.svg');
    background-size: 14px 44px;
    background-position: center;
    background-repeat: no-repeat;
}

.material-icons-outlined {
    font-weight: lighter;
}

.mdc-top-app-bar__action-item {
    padding: 0px 10px;
}

.mdc-text-field-container {
    width: 100%;
    margin: 5px 0px 10px 0px;
}

.mdc-text-field {
    width: 100%;
}

.mdc-button {
    height: auto;
    margin: 15px auto;
}

.mdc-button.mdc-theme--secondary {
    border-color: var(--mdc-theme-secondary)
}

.mdc-button--outlined {
    padding: 15px 30px;
}

.mdc-typography,
.mdc-typography--headline1, .mdc-typography--headline2, .mdc-typography--headline3, 
.mdc-typography--headline4, .mdc-typography--headline5, .mdc-typography--headline6, 
.mdc-typography--subtitle1, .mdc-typography--subtitle2, 
.mdc-typography--body1, .mdc-typography--body2, 
.mdc-typography--caption, .mdc-typography--button, 
.mdc-typography--overline {
    font-family: var(--typography-font-family);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.mdc-drawer .mdc-list-item--activated, .mdc-drawer .mdc-list-item--activated .mdc-list-item__graphic {
    color: var(--mdc-theme-primary);
}

:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item:hover::before {
    opacity: 0.02;
}

:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item--activated::before {
    opacity: 0.06;
}

:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item--activated:hover::before {
    opacity: 0.1;
}

:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item--activated:not(.mdc-ripple-upgraded):focus::before, :not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item--activated.mdc-ripple-upgraded--background-focused::before {
    opacity: 0.12;
}

:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item:not(.mdc-ripple-upgraded):focus::before, :not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item.mdc-ripple-upgraded--background-focused::before {
    opacity: 0.12;
}

.padding--end-20 {
    padding-right: 20px;
}

.mdc-drawer.home-drawer {
    margin-right: 30px;
}

.books-section {
    
}

.books-section .heading {
    font-size: 28px;
    font-weight: 400;
    line-height: 39px;
}